@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #943B31;
    --dark-main-color: #7C322A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: 'Poppins', sans-serif;
    background: #010101;
    color: #FEFEFE;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 75px;
    align-items: center;
}

header .mobile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    z-index: 99999;
}

#mobile-navbar {
    display: none;
}

.navbar-button {
    width: 100%;
    display: none !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.navbar-button h2 {
    display: inline;
    position: absolute;
    left: 5%;
}

.navbar-button svg {
    width: 30px;
    height: 30px;
}

@media(max-width: 800px) {
    .header-left, .header-center, .header-right {
        display: none;
    }
    .navbar-button {
        display: block !important;
    }
}

header .mobile .close-mobile-navbar {
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
    font-size: 2rem;
}

header .mobile .mobile-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
    width: 100%;
}

header .mobile .mobile-center a {
    color: #FEFEFE;
    text-decoration: none;
    font-size: 1.5rem;
    transition: font-size 60ms linear;
}

header .mobile .mobile-center a:active {
    font-size: 1.8rem;
}

header .mobile .mobile-right {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

header .mobile .mobile-right button {
    border: none;
    background-color: var(--main-color);
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    color: #FEFEFE;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}

header .mobile .mobile-right button::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: .5rem;
    filter: blur(5px);
    background-color: var(--dark-main-color);
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

header .mobile .mobile-right button:active {
    transform: scale(95%);
    z-index: 998;
}

header .mobile .mobile-right button:active::before {
    opacity: .5;
}

header .header-left h1 {
    font-size: 1.2rem;
}

header .header-center a {
    text-decoration: none;
    color: darkgray;
    letter-spacing: 1px;
    padding: 0 .8rem;
    position: relative;
        transition: color 300ms ease-in-out;
}

header .header-center a:hover {
    color: #FEFEFE;
}

header .header-center a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    width: 0%;
    height: 4px;
    background-color: var(--main-color);
    transition: width 300ms ease-in-out;
}

header .header-center a:hover::before {
    width: 100%;
}

header .header-right button {
    background-color: var(--main-color);
    border: none;
    height: 3rem;
    width:  10rem;
    font-size: 100%;
    border-radius: 5rem;
    color: #FEFEFE;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
}

header .header-right button::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: .5rem;
    filter: blur(5px);
    background-color: var(--dark-main-color);
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

header .header-right button:active {
    transform: scale(95%);
}

header .header-right button:active::before {
    opacity: .5;
}

main {
    height: 100%;
}

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.left-hero {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-hero h2 {
    font-size: 5rem;
    line-height: 1.5;
    text-align: left;
    width: 90%;
}

.left-hero .brown {
    color: var(--main-color);
}

.left-hero p {
    color: gray;
    line-height: 1.5;
    font-size: 1.1rem;
    width: 80%;
}

.left-hero button {
    background-color: var(--main-color);
    color: white;
    border: none;
    height: 3rem;
    width: 10rem;
    font-size: 100%;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.left-hero button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    padding: .5rem;
    filter: blur(5px);
    background-color: var(--main-color);
    border-radius: 5rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.left-hero button:active {
    background-color: var(--dark-main-color);
}

.left-hero button:active::before {
    opacity: .5;
}

.right-hero {
    width: 40%;
}

.right-hero img {
    width: 100%;
    height: auto;
}

@media(max-width: 1500px) {
    .left-hero {
        width: 550px;
    }
    .left-hero h2 {
        font-size: 3.1rem !important;
    }
    .right-hero img {
        width: 590px;
    }
}

@media(max-width: 1300px) {
    .right-hero img {
        width: 500px;
    }
}

@media(max-width: 1100px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .left-hero {
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }
    .left-hero h2 {
        width: 100%;
        text-align: center;
    }
    .left-hero p {
        text-align: center;
    }
    .right-hero {
        width: 100%;
        display:flex;
        justify-content: center;
    }
}

@media(max-width: 800px) {
    body {
        overflow: scroll;
    }
    .hero {
        margin-top: 5%;
        display: block !important;
        padding: 0 5%;
    }
}

@media(max-width: 480px) {
    .hero {
        height: 100% !important;
    }
    .left-hero h2 {
        font-size: 2.3rem !important;
    }
    .left-hero p {
        width: 100%;
    }
    .right-hero {
        margin-top: 1rem !important;
    }
    .right-hero img {
        width: 100%;
    }
}